/* @import url("font/stylesheet.css"); */

html,
body,
#root,
.App {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  /* font: 16px "Noto Sans KR"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
